// containers
.container{
  max-width: $containerMedium;
  margin: 0 auto;

}
.containerLarge{
  max-width: $containerLarge;
  margin: 0 auto;
}

// inputs
.inputStyle{
  border-radius: 20px;
  padding: 10px;
  background: rgba(31,63,35,0.055);
  border: none;

  &:focus{
    outline: none;
  }
}

// mixins
@mixin image_centered {
  position: absolute;
  left: 32%;
  top: 50%;
  transform: translate(-50%, -50%);
}

// buttons
.btn{
  border-radius: 20px;
  padding: 12px 25px;
  font-size: $fontSmall;
  font-weight: bold;
  background: transparent;
  border: none;
  margin: 5px;
  cursor: pointer;

  &.color{
    background-color: #3d6f42;
    color: #fff;
  }
}
