// containers
.container{
  max-width: $containerMedium;
  margin: 0 auto;

}
.containerLarge{
  max-width: $containerLarge;
  margin: 0 auto;
}

// inputs
.inputStyle{
  border-radius: 15px;
  padding: 8px;
  background: #e6e6e6;
  border: none;

  &:focus{
    outline: none;
  }
}

// mixins
@mixin image_centered {
  position: absolute;
  left: 32%;
  top: 50%;
  transform: translate(-50%, -50%);
}

// buttons
.btn{
  border-radius: 20px;
  padding: 10px 25px;
  font-size: $fontSmall;
  font-weight: bold;
  background: transparent;
  border: none;
  margin: 5px;
  cursor: pointer;
}
