
  //HEADER (nav bars)
.main_nav_top, .second_nav_top{
  font-family: 'Roboto', sans-serif;
  height: 60px;
  display: flex;
}
.main_nav_top{
  justify-content: space-between;
  // border-bottom: 1px solid grey;
}

.main_nav_top_content_left, .main_nav_top_content_right{
  width: 45%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;

  & img{
    width: 230px;
  }
  & input{
    width: 260px;
  }
  & span{
    font-size: 14px;
  }

  .main_nav_top_content_right_icons a{
    margin-left: 5px;
    color: #000;
  }
}

  // HEADER (seconda nav-bar)
.second_nav_top{
  justify-content: center;

  ul{
    display: flex;
    align-items: center;

    li i{
      vertical-align: middle;
      margin-left: 5px;
    }

    a{
      color: #000;
      &:not(last-child){
        margin-right: 25px;
      }
    }

  }
}

.hero{
  background-image: url('../img/hero.jpg');
  // height: calc(100vh - 120px);
  height: 100vh;
  background-size: cover;
  position: relative;

  & .hero_info_top{
    font-family: 'Roboto', sans-serif;
   background-image: url('../img/impronte.png');
   background-repeat: repeat;
   background-size: cover;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   height: 60px;
   display: flex;
   align-items: center;
   justify-content: space-around;
   color: #fff;
   background: #cacace;
  }
  & .hero_info_bottom{
    font-family: 'Roboto', sans-serif;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #cacace;

    img {
      width: 180px;
      position: absolute;
      bottom: 0;
      left: 420px;
    }
    span{
      font-size: $fontSmall;
      color: #fff;
      font-weight: 500;

      a{
        text-decoration: underline;
        color: rgba(255,255,255,0.7);
        margin-left: 20px;

        &:hover{
          color: #fff;
        }

      }
    }
  }
  .hero_text{
    @include image_centered;
    width: 30%;

    small{
      font-weight: bold;
      color: #fff;
      font-size: $fontSmall;
      font-family: 'Goudy Bookletter 1911', serif;
      letter-spacing: 1;
    }
    h2{
      font-weight: bold;
      font-size: $fontLarge;
      color: #fff;
      font-family: 'Goudy Bookletter 1911', serif;
      line-height: 1.5;
    }
    button{
      background: #fff;
      font-size: 14px;
    }
  }
}
