
  //HEADER (nav bars)
.main_nav_top, .second_nav_top{
  font-family: 'Roboto', sans-serif;
  height: 60px;
  display: flex;
}
.main_nav_top{
  justify-content: space-between;
  // border-bottom: 1px solid grey;
}

.main_nav_top_content_left, .main_nav_top_content_right{
  width: 45%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;

  & img{
    width: 230px;
  }
  & input{
    width: 260px;
  }
  & span{
    font-size: 14px;
  }

  .main_nav_top_content_right_icons a{
    margin-left: 5px;
    color: #000;
  }
}

  // HEADER (seconda nav-bar)
.second_nav_top{
  justify-content: center;

  ul{
    display: flex;
    align-items: center;

    li i{
      vertical-align: middle;
      margin-left: 5px;
    }

    a{
      color: #000;
      &:not(last-child){
        margin-right: 25px;
      }
    }

  }
}

.hero{
  background-image: url('../img/hero.jpg');
  height: calc(100vh - 120px);
  background-size: cover;
  position: relative;

}
