// MAIN (sezioni varie...)
// categories title
.categories_text{
  text-align: center;
  max-width: 35%;

  & h2{
    font-size: $fontMediumL;
    font-family: 'Goudy Bookletter 1911', serif;
    letter-spacing: 1px;
  }
  & p{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
  }
}

.section_shop_1{
  display: flex;

  & .box_shop{
    width: calc(100% / 4);
    margin: 10px;

    & img{
      width: 100%;
    }

    & p{
      text-align: center;
      margin-top: 10px;
      font-size: $fontMedium;
    }
  }
}

.section_shop_2{
  height: 600px;
  display: flex;

  #special{
    margin: 0 10px;
  }

  & .box_shop{
    width: calc(100% / 3);
    background-image: url('../img/impronte.png');
    background-color: rgb(30, 49, 32);
    padding: 60px;
    text-align: center;
    transition: all 0.5s ease-in-out;

    h3{
      color: #fff;
      font-family: 'Goudy Bookletter 1911', serif;
      font-size: $fontLarge;
      letter-spacing: 1px;
    }
    h4 {
      font-family: 'Roboto', sans-serif;
      color: #3d6f42;
      font-size: $fontSmall;
      letter-spacing: 1px;
    }
    img{
      width: 250px;
    }
    button{
      font-size: 16px;
    }

    &:hover{
      transform: scale(1.1);
      filter: brightness(120%);
    }
  }
}
