// MAIN (sezioni varie...)
// categories title
.categories_text{
  text-align: center;
  max-width: 35%;
}

// sezione shop 1
.section_shop_1{
  display: flex;

  .box_shop{
    width: calc(100% / 4);
    margin: 10px;
    cursor: pointer;

    img{
      width: 100%;
    }

    p{
      text-align: center;
      margin-top: 10px;
      font-size: $fontMedium;
    }
  }
}

// sezione shop 2
.section_shop_2{
  display: flex;

  #special{
    margin: 0 10px;
  }

  .box_shop{
    width: calc(100% / 3);
    background-image: url('../img/impronte.png');
    background-color: rgb(30, 49, 32);
    padding: 60px;
    text-align: center;
    transition: all 0.5s ease-in-out;
    cursor: pointer;

    h2{
      color: #fff;
    }
    h4 {
      font-family: 'Roboto', sans-serif;
      color: #3d6f42;
      font-size: $fontSmall;
      letter-spacing: 1px;
    }
    img{
      width: 250px;
    }
    button{
      font-size: 16px;
    }

    &:hover{
      transform: scale(1.1);
      filter: brightness(120%);
    }
  }
}

// sezione nuovi arrivi (hero/banner)
.banner_new_arrivals{
  height: 500px;
  background-image: url('../img/banner2.jpg');
  background-size: cover;
  position: relative;

  .banner_new_arrivals_content{
    @include image_centered;
    left: 50%;
    color: #fff;
    text-align: center;

    p{
      font-weight: 600;
      letter-spacing: 3px;
    }
    button:hover{
      background: #3d6f42;
      color: #fff;
    }
  }
}

// sezione bestseller
.bestseller_section{
  display: flex;
  justify-content: space-between;
  align-items: center;

  p{
    color: #3d6f42;
  }
}

.bestseller_section_arcticle{
  display: flex;
  justify-content: center;

  .box_shop{
    margin: 15px;
    cursor: pointer;

    img{
      width: 300px;
    }
    p{
      margin-top: 15px;
      text-align: center;
    }
  }
}

// sezione testimonial
.testimonial_wrapper{
  background-image: url('../img/impronte.png');
  max-height: 100%;
  background-color: rgb(30, 49, 32);
  background-position: center top;
  background-repeat: repeat-x;
  padding: 80px;

  h2{
    color: #fff;
    text-align: center;
  }
  .testimonial_content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .testimonial_box{
    width: 300px;
    height: 300px;
    text-align: center;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    line-height: 2;
    margin-bottom: 100px;

    img{
      width: 120px;
      border-radius: 50%;
    }
    h4 {
      color: rgba(255, 255, 255, 0.56);
      margin-top: 20px;
    }
  }
}

// sezione newsletter
.newsletter_wrapper{
  height: 500px;
  background-image: url('../img/banner-newsletter.jpg');
  background-size: cover;
  margin-top: -100px;
  padding: 100px;

  .newsletter_content{
    width: 50%;

    input{
      width: 350px;
      height: 50px;
      padding: 10px;
      font-size: $fontSmall;
    }
    button{
      height: 50px;
    }
  }
}

// articoli recenti
.recent-arcticles_wrapper{
  text-align: center;

  h2{
    letter-spacing: 1px;
  }
  p{
    color: #3d6f42;
  }

  .recent_arcticle_content{
    display: flex;
    width: 100%;

    .box_shop{
      width: calc((100% / 4) - 30px);
      margin: 15px;
      cursor: pointer;
    }

    img{
      width: 100%;
    }
    p{
      margin-top: 25px;
      color: #000;
    }
  }
}

.others_food_wrapper{
  display: flex;

  .dog_food_wrapper, .cat_food_wrapper{
    width: 50%;
    height: 500px;
    background-size: cover;
  }
  .dog_food_wrapper{
    background-image: url('../img/banner-cane.jpg');
  }
  .cat_food_wrapper{
    background-image: url('../img/banner-gatto.jpg');
  }
}

.info_shop_wrapper{
  height: 300px;
  width: 100%;
  background-image: url('../img/impronte.png');
  background-color: rgb(30, 49, 32);
  background-repeat: repeat;
}
