// containers
$containerMedium: 1080px;
$containerLarge: 1280px;

// font sizes
$fontSmall: 18px;
$fontMedium: 30px;
$fontMediumL: 36px;
$fontLarge: 48px;

// colors
$mainColorGreen: #1e3120;
$secondColorGreen: #3d6f42;
$backgroundRGB: rgb(30, 49, 32);
