@import "Partials/variables";
@import "Partials/commons";
@import "Partials/header";
@import "Partials/main";
@import "Partials/footer";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a, li{
  list-style: none;
  text-decoration: none;
}

@for $i from 1 through 8 {
  .mt-#{15 * $i} {
    margin-top: 15px * $i;
  }
}

hr{
  border: 1px solid #e6e6e6;
}

p {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  font-size: $fontSmall;
}

h2, h3{
  font-family: 'Goudy Bookletter 1911', serif;
  letter-spacing: 1px;
}
h2{
  font-size: $fontLarge;
}
